HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env

## codebase MCP ##
.codebase-memory

## opencode - MCPs local ocultos ##
.opencode/

## agents - MCPs and skills ##
.agents/

## Obsidian - Obsidian config ##
docs/.obsidian/

## Inyection Data for manual tests ##
src/main/java/com/pretriage/backend/config/UserTestInyection.java

## skill config ##
skills-lock.json